.menu {
    margin-left: calc((100% - 200px)/2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 200px;
}

.display {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-transform: uppercase;
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    width: 100px
}

.botao {
    padding: 10px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
}

.__selected {
    border: 2px solid black !important;
}

#button__red {
    background: rgb(248, 70, 70);
}

#button__blue {
    background: blue;
}

#button__yellow {
    background: gold;
}

.check1 {
    border-radius: 100%;
}